---
layout: base.njk
title: "Motiv Ring | FXN Studio"
description: "Motiv approached me to handle the development of the site on a custom stack capable of handling 10,000 concurrent connections."
bodyClass: "wp-singular portfolio-template-default single"
cssFile: "bundle.css"
jsBundle: "bundle.js"
ogType: "article"
ogImage: "/"
---
<main role="main">
<section class="page__heading portfolio__heading"><div class="container"><div class="row"><div class="col-6"><h1>Motiv Ring</h1><p>Motiv approached me to handle the development of the site on a custom stack capable of handling 10,000 concurrent connections.</p></div><div class="col-6 flex-fill align-self-end d-flex uppercase"><ul class="portfolio-categories tags ms-auto"><li>Interaction Design</li><li>UI Design</li><li>Web Development</li></ul></div></div></div></section><section class="section section__first"><div class="container">
<a href="index.html" title="Motiv Ring" class="featured mb-5">
<img src="../../assets/images/uploads/motiv-ring-thumb.png" class="attachment- size- wp-post-image" alt="motiv ring thumb" decoding="async" fetchpriority="high" title="Motiv Ring">			</a></div></section>
</main>
