---
layout: base.njk
title: "Workkle | FXN Studio"
description: "The Brief The workkle platform was a collaboration between Myself and Digiruu Agency. Their motivation behind creating this application is to make it easier"
bodyClass: "wp-singular portfolio-template-default single"
cssFile: "bundle.css"
jsBundle: "bundle.js"
ogType: "article"
ogImage: "/"
---
<main role="main">
<section class="page__heading portfolio__heading"><div class="container"><div class="row"><div class="col-6"><h1>Workkle</h1></div><div class="col-6 flex-fill align-self-end d-flex uppercase"><ul class="portfolio-categories tags ms-auto"><li>UI Design</li><li>Website Development</li></ul></div></div></div></section><section class="section section__first"><div class="container">
<a href="index.html" title="Workkle" class="featured mb-5">
<img src="../../assets/images/uploads/workkle-thumb.png" class="attachment- size- wp-post-image" alt="workkle thumb" decoding="async" fetchpriority="high" title="Workkle">			</a><div class="row align-items-center mb-5"><div class="col-md-6">
<img decoding="async" src="../../assets/images/uploads/workkle-1-scaled.webp" alt="workkle 1 scaled" title="Workkle"/></div><div class="col-md-6 ps-md-5"><h3>The Brief</h3><p>    The workkle platform was a collaboration between Myself and Digiruu Agency. Their motivation behind creating this application is to make it easier to find the right person for the job &#8211; with a twist.</p></div></div><div class="row align-items-center mb-5"><div class="col-md-6">
<img decoding="async" src="../../assets/images/uploads/workkle-2-scaled.webp" alt="workkle 2 scaled" title="Workkle"/></div><div class="col-md-6 ps-md-5"><h3>The Approach</h3><p>    Through a custom algorithm, we broke down personality types and quantified them into groups. Through sets of especially designed tests and questions, we can get a better understanding of the applicant</p></div></div><div class="row align-items-center mb-5"><div class="col-md-6">
<img decoding="async" src="../../assets/images/uploads/workkle-3-scaled.webp" alt="workkle 3 scaled" title="Workkle"/></div><div class="col-md-6 ps-md-5"><h3>The Result</h3><p>    Using NodeJS, React and some TLC, me and Digiruu come together to create an algorithm driven recruitment application that connects candidates with the right personalities to employers.</p></div></div></div></section>
</main>
