---
layout: base.njk
title: "Brismo | FXN Studio"
description: "Brismo needed a logo designed for their start-up as well as an initial website for round one seed invesment,"
bodyClass: "wp-singular portfolio-template-default single"
cssFile: "bundle.css"
jsBundle: "bundle.js"
ogType: "article"
ogImage: "/"
---
<main role="main">
<section class="page__heading portfolio__heading"><div class="container"><div class="row"><div class="col-6"><h1>Brismo</h1><p>Brismo needed a logo designed for their start-up as well as an initial website for round one seed invesment,</p></div><div class="col-6 flex-fill align-self-end d-flex uppercase"><ul class="portfolio-categories tags ms-auto"><li>Logo</li><li>UI Design</li><li>Website Development</li></ul></div></div></div></section><section class="section section__first"><div class="container">
<a href="index.html" title="Brismo" class="featured mb-5">
<img src="../../assets/images/uploads/brismo-thumb.png" class="attachment- size- wp-post-image" alt="brismo thumb" decoding="async" fetchpriority="high" title="Brismo">			</a><p>https://brismo.com/</p></div></section>
</main>
