---
layout: base.njk
title: "Trevor Sorbie | FXN Studio"
description: "I team-up with a creative director to help overhaul the Trevor Sorbie website and migrate it to Magento."
bodyClass: "wp-singular portfolio-template-default single"
cssFile: "bundle.css"
jsBundle: "bundle.js"
ogType: "article"
ogImage: "/"
---
<main role="main">
<section class="page__heading portfolio__heading"><div class="container"><div class="row"><div class="col-6"><h1>Trevor Sorbie</h1><p>I team-up with a creative director to help overhaul the Trevor Sorbie website and migrate it to Magento.</p></div><div class="col-6 flex-fill align-self-end d-flex uppercase"><ul class="portfolio-categories tags ms-auto"><li>Magento</li><li>Website</li><li>Website Development</li></ul></div></div></div></section><section class="section section__first"><div class="container">
<a href="index.html" title="Trevor Sorbie" class="featured mb-5">
<img src="../../assets/images/uploads/trevor-sorbie-thumb.png" class="attachment- size- wp-post-image" alt="trevor sorbie thumb" decoding="async" fetchpriority="high" title="Trevor Sorbie">			</a></div></section>
</main>
