---
layout: base.njk
title: "Corker | FXN Studio"
description: "A leading landscaping supplier, Corker required a new eCommerce website designed and then developed on Magento with a custom integration."
bodyClass: "wp-singular portfolio-template-default single"
cssFile: "bundle.css"
jsBundle: "bundle.js"
ogType: "article"
ogImage: "/"
---
<main role="main">
<section class="page__heading portfolio__heading"><div class="container"><div class="row"><div class="col-6"><h1>Corker</h1><p>A leading landscaping supplier, Corker required a new eCommerce website designed and then developed on Magento with a custom integration.</p></div><div class="col-6 flex-fill align-self-end d-flex uppercase"><ul class="portfolio-categories tags ms-auto"><li>eCommerce website</li><li>Magento</li><li>UI Design</li></ul></div></div></div></section><section class="section section__first"><div class="container">
<a href="index.html" title="Corker" class="featured mb-5">
<img src="../../assets/images/uploads/corker-thumb.png" class="attachment- size- wp-post-image" alt="corker thumb" decoding="async" fetchpriority="high" title="Corker">			</a></div></section>
</main>
