---
layout: base.njk
title: "Rotal | FXN Studio"
description: "A sleek website with custom search functionality that connected driving instructors with potential customers effortlessly."
bodyClass: "wp-singular portfolio-template-default single"
cssFile: "bundle.css"
jsBundle: "bundle.js"
ogType: "article"
ogImage: "/"
---
<main role="main">
<section class="page__heading portfolio__heading"><div class="container"><div class="row"><div class="col-6"><h1>Rotal</h1><p>A sleek website with custom search functionality that connected driving instructors with potential customers effortlessly.</p></div><div class="col-6 flex-fill align-self-end d-flex uppercase"><ul class="portfolio-categories tags ms-auto"><li>Website</li><li>Website Development</li></ul></div></div></div></section><section class="section section__first"><div class="container">
<a href="index.html" title="Rotal" class="featured mb-5">
<img src="../../assets/images/uploads/rotal-thumb.png" class="attachment- size- wp-post-image" alt="rotal thumb" decoding="async" fetchpriority="high" title="Rotal">			</a><div class="row align-items-center mb-5"><div class="col-md-6">
<img decoding="async" src="../../assets/images/uploads/rotal-web-design.webp" alt="rotal web design" title="Rotal"/></div><div class="col-md-6 ps-md-5"><h3>The Brief</h3><p>    Rotal wanted to bring locally based driving instructors to people searching for lessons. Their aim is to cut out the franchises with often inflated prices and bring cheaper lessons to a demographics that naturally has lower than average earnings.</p></div></div><div class="row align-items-center mb-5"><div class="col-md-6">
<img decoding="async" src="../../assets/images/uploads/rotal-3-scaled.webp" alt="rotal 3 scaled" title="Rotal"/></div><div class="col-md-6 ps-md-5"><h3>The Approach</h3><p>    I made a simple location and radius search the center of the entire operation coupled with a smooth, modern design that is strongly branded using their provided guidelines and files.</p></div></div><div class="row align-items-center mb-5"><div class="col-md-6">
<img decoding="async" src="../../assets/images/uploads/rotal-web-app.webp" alt="rotal web app" title="Rotal"/></div><div class="col-md-6 ps-md-5"><h3>The Result</h3><p>    An intuitive application that connected learners with local driving instructors in an intuitive end product.</p></div></div></div></section>
</main>
