---
layout: base.njk
title: "Autism Supports IE | FXN Studio"
description: "Taking Autism Supports creative ideas and existing branding, I created a fresh, colourful website to connect them with neurodivergent people."
bodyClass: "wp-singular portfolio-template-default single"
cssFile: "bundle.css"
jsBundle: "bundle.js"
ogType: "article"
ogImage: "/"
---
<main role="main">
<section class="page__heading portfolio__heading"><div class="container"><div class="row"><div class="col-6"><h1>Autism Supports IE</h1><p>Taking Autism Supports creative ideas and existing branding, I created a fresh, colourful website to connect them with neurodivergent people.</p></div><div class="col-6 flex-fill align-self-end d-flex uppercase"><ul class="portfolio-categories tags ms-auto"><li>UI Design</li><li>Website Development</li></ul></div></div></div></section><section class="section section__first"><div class="container">
<a href="index.html" title="Autism Supports IE" class="featured mb-5">
<img src="../../assets/images/uploads/autism-supports-thumb.png" class="attachment- size- wp-post-image" alt="autism supports thumb" decoding="async" fetchpriority="high" title="Autism Supports IE">			</a><p>https://www.autismsupports.ie/</p></div></section>
</main>
