---
layout: base.njk
title: "MTV Shuga | FXN Studio"
description: "I collaborated with MTV Shugga to bring their ideas to life with a user-friendly website that blended with existing branding."
bodyClass: "wp-singular portfolio-template-default single"
cssFile: "bundle.css"
jsBundle: "bundle.js"
ogType: "article"
ogImage: "/"
---
<main role="main">
<section class="page__heading portfolio__heading"><div class="container"><div class="row"><div class="col-6"><h1>MTV Shuga</h1><p>I collaborated with MTV Shugga to bring their ideas to life with a user-friendly website that blended with existing branding.</p></div><div class="col-6 flex-fill align-self-end d-flex uppercase"><ul class="portfolio-categories tags ms-auto"><li>Interaction Design</li><li>UI Design</li><li>UX Design</li></ul></div></div></div></section><section class="section section__first"><div class="container">
<a href="index.html" title="MTV Shuga" class="featured mb-5">
<img src="../../assets/images/uploads/mtv-shuga-thumbnail.png" class="attachment- size- wp-post-image" alt="mtv shuga thumbnail" decoding="async" fetchpriority="high" title="MTV Shuga">			</a></div></section>
</main>
