---
layout: base.njk
title: "Social Media Branding | FXN Studio"
description: ""
bodyClass: "page-category"
cssFile: "bundle.css"
jsBundle: "bundle.js"
---
<main role="main">
<section class="page__heading"><div class="container"><h1>Work</h1><div class="tags">
<a
href="../../index.html"
class="tag"
>
All
</a>
<a
href="../branding/index.html"
class="tag"
>
Branding						</a>
<a
href="../ecommerce-website/index.html"
class="tag"
>
eCommerce website						</a>
<a
href="../interaction-design/index.html"
class="tag"
>
Interaction Design						</a>
<a
href="../logo/index.html"
class="tag"
>
Logo						</a>
<a
href="../magento/index.html"
class="tag"
>
Magento						</a>
<a
href="../mobile-app/index.html"
class="tag"
>
Mobile App						</a>
<a
href="index.html"
class="tag active"
>
Social Media Branding						</a>
<a
href="../ui-design/index.html"
class="tag"
>
UI Design						</a>
<a
href="../ux-design/index.html"
class="tag"
>
UX Design						</a>
<a
href="../web-development/index.html"
class="tag"
>
Web Development						</a>
<a
href="../website/index.html"
class="tag"
>
Website						</a>
<a
href="../website-development/index.html"
class="tag"
>
Website Development						</a></div></div></section><section class="section section__first portfolio"><div class="container"><div class="portfolio__inner"><div class="row"><div class="col-md-6"><div class="portfolio__item">
<a class="portfolio__item-link" href="../../thruday/index.html"><div class="portfolio__item-screen">
<picture>
<img src="../../../assets/images/uploads/thruday-thumb-900x506.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="thruday thumb" decoding="async" fetchpriority="high" title="Thruday">					</picture>
<svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none" class="overlay">
<g>
<path vector-effect="non-scaling-stroke" />
</g>
</svg></div><div class="h4 title">Thruday</div><p>Branding, Research &#038; Discovery, Website, Cross-platform application and even the marketing and social media &#8211; they full package.</p>
</a></div></div></div></div></div></section><section class="section testimonial "><div class="container"><div class="row">
<svg class="quote-icon">
<use xlink:href="#svg-quote"></use>
</svg><div class="col"><div class="ps-4 pt-5 pe-3"><p class="pe-md-5">... Andrew's ability to turn ideas into tangible reality is fantastic. He's helped us develop a suite of tests that rank our developers based on the knowledge they have about their skills which then helps us connect them with suitable clients based on their budget and needs.</p><div class="person d-flex justify-content-end text-right"><div><ul><li><b>Katrina Benjamin</b></li><li>Vice President @ Upwork</li></ul></div></div></div></div></div></div></section>
</main>
