---
layout: base.njk
title: "UI Design | FXN Studio"
description: ""
bodyClass: "page-category"
cssFile: "bundle.css"
jsBundle: "bundle.js"
---
<main role="main">
<section class="page__heading"><div class="container"><h1>Work</h1><div class="tags">
<a
href="../../index.html"
class="tag"
>
All
</a>
<a
href="../branding/index.html"
class="tag"
>
Branding						</a>
<a
href="../ecommerce-website/index.html"
class="tag"
>
eCommerce website						</a>
<a
href="../interaction-design/index.html"
class="tag"
>
Interaction Design						</a>
<a
href="../logo/index.html"
class="tag"
>
Logo						</a>
<a
href="../magento/index.html"
class="tag"
>
Magento						</a>
<a
href="../mobile-app/index.html"
class="tag"
>
Mobile App						</a>
<a
href="../social-media-branding/index.html"
class="tag"
>
Social Media Branding						</a>
<a
href="index.html"
class="tag active"
>
UI Design						</a>
<a
href="../ux-design/index.html"
class="tag"
>
UX Design						</a>
<a
href="../web-development/index.html"
class="tag"
>
Web Development						</a>
<a
href="../website/index.html"
class="tag"
>
Website						</a>
<a
href="../website-development/index.html"
class="tag"
>
Website Development						</a></div></div></section><section class="section section__first portfolio"><div class="container"><div class="portfolio__inner"><div class="row"><div class="col-md-6"><div class="portfolio__item">
<a class="portfolio__item-link" href="../../brismo/index.html"><div class="portfolio__item-screen">
<picture>
<img src="../../../assets/images/uploads/brismo-thumb-900x506.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="brismo thumb" decoding="async" fetchpriority="high" title="Brismo">					</picture>
<svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none" class="overlay">
<g>
<path vector-effect="non-scaling-stroke" />
</g>
</svg></div><div class="h4 title">Brismo</div><p>Brismo needed a logo designed for their start-up as well as an initial website for round one seed invesment,</p>
</a></div></div><div class="col-md-6"><div class="portfolio__item">
<a class="portfolio__item-link" href="../../corker/index.html"><div class="portfolio__item-screen">
<picture>
<img src="../../../assets/images/uploads/corker-thumb-900x506.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="corker thumb" decoding="async" title="Corker">					</picture>
<svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none" class="overlay">
<g>
<path vector-effect="non-scaling-stroke" />
</g>
</svg></div><div class="h4 title">Corker</div><p>A leading landscaping supplier, Corker required a new eCommerce website designed and then developed on Magento with a custom integration.</p>
</a></div></div></div><div class="row"><div class="col-md-6"><div class="portfolio__item">
<a class="portfolio__item-link" href="../../motiv-ring/index.html"><div class="portfolio__item-screen">
<picture>
<img src="../../../assets/images/uploads/motiv-ring-thumb-900x506.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="motiv ring thumb" decoding="async" title="Motiv Ring">					</picture>
<svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none" class="overlay">
<g>
<path vector-effect="non-scaling-stroke" />
</g>
</svg></div><div class="h4 title">Motiv Ring</div><p>Motiv approached me to handle the development of the site on a custom stack capable of handling 10,000 concurrent connections.</p>
</a></div></div><div class="col-md-6"><div class="portfolio__item">
<a class="portfolio__item-link" href="../../mtv-shuga/index.html"><div class="portfolio__item-screen">
<picture>
<img src="../../../assets/images/uploads/mtv-shuga-thumbnail-900x506.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="mtv shuga thumbnail" decoding="async" loading="lazy" title="MTV Shuga">					</picture>
<svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none" class="overlay">
<g>
<path vector-effect="non-scaling-stroke" />
</g>
</svg></div><div class="h4 title">MTV Shuga</div><p>I collaborated with MTV Shugga to bring their ideas to life with a user-friendly website that blended with existing branding.</p>
</a></div></div></div><div class="row"><div class="col-md-6"><div class="portfolio__item">
<a class="portfolio__item-link" href="../../autism-supports/index.html"><div class="portfolio__item-screen">
<picture>
<img src="../../../assets/images/uploads/autism-supports-thumb-900x506.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="autism supports thumb" decoding="async" loading="lazy" title="Autism Supports IE">					</picture>
<svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none" class="overlay">
<g>
<path vector-effect="non-scaling-stroke" />
</g>
</svg></div><div class="h4 title">Autism Supports IE</div><p>Taking Autism Supports creative ideas and existing branding, I created a fresh, colourful website to connect them with neurodivergent people.</p>
</a></div></div><div class="col-md-6"><div class="portfolio__item">
<a class="portfolio__item-link" href="../../prizegamer/index.html"><div class="portfolio__item-screen">
<picture>
<img src="../../../assets/images/uploads/prizegamer-app-design-thumb-900x506.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="prizegamer app design thumb" decoding="async" loading="lazy" title="Prizegamer">					</picture>
<svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none" class="overlay">
<g>
<path vector-effect="non-scaling-stroke" />
</g>
</svg></div><div class="h4 title">Prizegamer</div><p>Web application created with Javascript and a Node.js backend, website built on WordPress with research-driven approach.</p>
</a></div></div></div><div class="row"><div class="col-md-6"><div class="portfolio__item">
<a class="portfolio__item-link" href="../../workkle/index.html"><div class="portfolio__item-screen">
<picture>
<img src="../../../assets/images/uploads/workkle-thumb-900x506.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="workkle thumb" decoding="async" loading="lazy" title="Workkle">					</picture>
<svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none" class="overlay">
<g>
<path vector-effect="non-scaling-stroke" />
</g>
</svg></div><div class="h4 title">Workkle</div>
</a></div></div></div></div></div></section><section class="section testimonial "><div class="container"><div class="row">
<svg class="quote-icon">
<use xlink:href="#svg-quote"></use>
</svg><div class="col"><div class="ps-4 pt-5 pe-3"><p class="pe-md-5">... Andrew's ability to turn ideas into tangible reality is fantastic. He's helped us develop a suite of tests that rank our developers based on the knowledge they have about their skills which then helps us connect them with suitable clients based on their budget and needs.</p><div class="person d-flex justify-content-end text-right"><div><ul><li><b>Katrina Benjamin</b></li><li>Vice President @ Upwork</li></ul></div></div></div></div></div></div></section>
</main>
