---
layout: base.njk
title: "Thruday | FXN Studio"
description: "Branding, Research &amp; Discovery, Website, Cross-platform application and even the marketing and social media - they full package."
bodyClass: "wp-singular portfolio-template-default single"
cssFile: "bundle.css"
jsBundle: "bundle.js"
ogType: "article"
ogImage: "/"
---
<main role="main">
<section class="page__heading portfolio__heading"><div class="container"><div class="row"><div class="col-6"><h1>Thruday</h1><p>Branding, Research &#038; Discovery, Website, Cross-platform application and even the marketing and social media &#8211; they full package.</p></div><div class="col-6 flex-fill align-self-end d-flex uppercase"><ul class="portfolio-categories tags ms-auto"><li>Branding</li><li>Logo</li><li>Mobile App</li><li>Social Media Branding</li><li>Website</li></ul></div></div></div></section><section class="section section__first"><div class="container">
<a href="index.html" title="Thruday" class="featured mb-5">
<img src="../../assets/images/uploads/thruday-thumb.png" class="attachment- size- wp-post-image" alt="thruday thumb" decoding="async" fetchpriority="high" title="Thruday">			</a></div></section>
</main>
